[flake8]
; SELECT:
; B: dunno
; C: mccabe cyclomatic complexity errors
; E: pycodestyle dangerous errors
; F: pyflakes formatting errors (mostly black compatible)
; W: pycodestyle whitespace errors (mostly black compatible)
select = B,C,E,F,W
; IGNORE:
; E203: certain whitespace around slice operators (black allows)
; E231: commas without trailing whitespace (black enforces in certain contexts)
; E261: mandates two spaces in trailing comments (black prefers 1)
; W503: binary operator spanning lines errors (black allows)
extend-ignore = E203, E231, E261, W503
; Align line length with black, in case run independently
;  (ignore entirely via E501)
max-line-length = 120
; Ludicrously high cyclomatic complexit setting
;  (ignore entirely via C901)
max-complexity = 200
